.about-me-sidebar {
  position: sticky;
  top: 0;
  height: 550px;
  align-self: start;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  font-family: var(--ff-sub-main);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .about-me-sidebar{
      position: static;
  }
}

.about-me-sidebar > div {
  padding: 10px;
  padding: 1rem;
}

.about-me-sidebar a {
  color: #424242;
}

.about-me-sidebar a:hover {
  color: var(--color-primary);
}

.about-me-sidebar h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 1rem;
  padding-block: 5px;
  color: #2b2b2b;
  border-bottom: 1px solid #d3d3d3;
}
