.key-value-type-box span:first-of-type {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #6c6c6c;
}

.key-value-type-box span:last-of-type {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  color: #000000;
}
