.btn-primary-outline {
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: var(--color-primary-dark);
  text-transform: capitalize;
  font-size: 0.9rem;
  border-radius: 3px;
  transition: all 300ms;
  border: var(--color-primary) solid 1px;
}

.btn-primary-outline:hover {
  background-color: var(--color-primary-dark);
  color: #ffffff;
}

.btn-primary-outline:disabled {
  background-color: var(--color-primary-disabled);
  cursor: default;
}
