.about-me{
  font-family: var(--ff-sub-main);
}
.about-me h2 {
  font-weight: 500;
  color: var(--color-primary);
  font-size: 26px;
  margin-bottom: 1.5rem;
}

.about-me p {
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.about-me b {
  font-weight: 600;
}

.about-me mark {
  background-color: var(--color-primary-extra-light);
}